<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tj.app.reply.ReplyMapper">
<insert id="create"  useGeneratedKeys="true" keyProperty="replyNo">
	INSERT INTO "REPLY"
	VALUES (DEFAULT, #{replyContent}, #{replyDate}, #{username}, #{boardNo})
</insert>

<select id="list" resultType="ReplyDTO">
	SELECT * FROM "REPLY"
</select>

<select id="detail" resultType="ReplyDTO">
	SELECT * FROM "REPLY"
	WHERE "REPLY_NO" = #{replyNo}
</select>

<update id="update">
	UPDATE "REPLY"
	SET
		"REPLY_CONTENT" = #{replyContent},
		"REPLY_DATE" = #{replyDate}
	WHERE "REPLY_NO" = #{replyNo}
</update>

<delete id="delete">
	DELETE FROM "REPLY"
	WHERE "REPLY_NO" = #{replyNo}
</delete>

</mapper>