<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.app.member.MemberMapper">

	<insert id="create">
		INSERT INTO "MEMBER" ("USERNAME", "NAME", "PASSWORD", "CASH", "EMAIL", "ROLE_NO")
    VALUES (#{username}, #{name}, #{password}, 200000000, #{email}, 2)
	</insert>

	<select id="read" resultType="MemberDTO">
		SELECT * FROM "MEMBER"
		WHERE "USERNAME" = #{username}
	</select>

	<update id="update">
		UPDATE "MEMBER"
		SET
			"NAME" = #{name},
			"CASH" = #{cash}
		WHERE "USERNAME" = #{username}
	</update>

	<delete id="delete">
		DELETE FROM "MEMBER"
		WHERE "USERNAME" = #{username}
	</delete>
	
<resultMap type="MemberDTO" id="memberResult">
    <id column="USERNAME" property="username" />
    <result column="NAME" property="name" />
    <result column="PASSWORD" property="password" /> 
    <result column="CASH" property="cash" />
    <result column="EMAIL" property="email"/>
    
    <collection property="roles" ofType="RoleDTO">
        <id column="ROLE_NO" property="roleNo" />
        <result column="ROLE_NAME" property="roleName" />
    </collection>
</resultMap>

<select id="login" resultMap="memberResult">
    SELECT 
        M."USERNAME", M."NAME", M."PASSWORD", M."CASH", M."EMAIL",
        R."ROLE_NO", R."ROLE_NAME"
    FROM "MEMBER" M
    LEFT JOIN "ROLE" R ON M."ROLE_NO" = R."ROLE_NO"
    WHERE M."USERNAME" = #{username}
</select>

</mapper>