<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.app.member.ProfileMapper">

    <select id="findByUsername" resultType="ProfileDTO">
        SELECT "PROFILE_NO", "USERNAME", "FILE_NAME", "ORI_NAME"
        FROM "PROFILE"
        WHERE "USERNAME" = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="profileNo">
        INSERT INTO "PROFILE" ("USERNAME", "FILE_NAME", "ORI_NAME")
        VALUES (#{username}, #{fileName}, #{oriName})
    </insert>

    <update id="update">
        UPDATE "PROFILE"
        SET "FILE_NAME" = #{fileName},
            "ORI_NAME"  = #{oriName}
        WHERE "USERNAME" = #{username}
    </update>

</mapper>
