@charset "UTF-8";

/* board.css */
.detail-main-card {
    flex: 3;
    padding: 40px; /* 사방에 40px 정도의 여백을 줍니다 */
    background: var(--surface); /* 배경색 확인 */
    border-radius: 20px;
}

.board-detail-layout {
    display: flex;
    gap: 24px;
    padding: 40px 50px; /* 화면 전체에 여백 추가 */
    align-items: flex-start; /* 자식 요소들이 각자 높이에 맞게 시작하게 함 */
}

.detail-side {
    flex: 1;
    position: sticky;
    top: 100px; /* 스크롤 내려도 따라오게 설정 */
}

.sb-table {
    width: 100%;
    border-collapse: collapse;
}

.sb-table th {
    padding: 16px;
    background: var(--surface2);
    color: var(--text3);
    text-align: left;
    font-size: 13px;
}

.detail-header h1 {
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0 20px 0;
    color: var(--text);
}

.detail-info {
    color: var(--text3); /* 날짜와 작성자는 조금 연하게 */
    font-size: 14px;
    margin-bottom: 30px;
}

.sb-table td {
    padding: 20px 16px;
    border-bottom: 1px solid var(--border);
    color: var(--text2);
    font-size: 15px;
}

.sb-table tr:hover td {
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.board-item:hover td {
    background-color: rgba(255, 255, 255, 0.05); /* 마우스 올리면 살짝 밝아짐 */
}

.board-item td {
    border-bottom: 1px solid var(--border); /* 행 사이 구분선 */
}

.board-item:last-child td {
    border-bottom: none; /* 마지막 행은 구분선 제거 */
}